{% extends "layout.njk" %}

{% block content %}
    <h1>Products</h1>

    {% for product in products %}
        <div class="media">
            <div class="media-left">
                <img class="media-object" width="64" src="{{ product.image }}" >
            </div>

            <div class="media-body">
                <a href="/products/{{ product._id }}">
                    <h4 class="media-heading">
                        {{ product.title }}

                        {% if product.isActive %}
                            <span class="label label-success pull-right">In Stock</span>
                        {% endif %}

                        {% if not product.isActive %}
                            <span class="label label-danger pull-right">Sold out</span>
                        {% endif %}
                    </h4>
                </a>
                <p>${{ product.price }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}