<html>
    <head>
        <title>Products Directory</title>

        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>